<div class="register-card">

    <h3>Regístrate</h3>

     <form action="/auth/register" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="usernameLogin" name="username"> 
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="emailLogin" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="passwordLogin" name="password">
        </div>
   
        <button type="submit" class="btn btn-primary">Regístrate</button>

          {{#if this.errorMessage}}

          <p class="error">{{this.errorMessage}}</p>

          {{/if}}

    </form>

</div>