<div>
  <h3>Crear producto</h3>

  <form action="/profile/add-product" method="post" enctype="multipart/form-data">

  <label for="title">Título</label>
  <input type="text" name="title">

  <br>

  <label for="platform">Plataforma</label>
  <input type="text" name="platform">

  <br>

  <label for="edition">Edición</label>
  <input type="text" name="edition" placeholder="Opcional">

  <br>

  <label for="releaseYear">Año</label>
  <input type="number" name="releaseYear" placeholder="Opcional">

  <br>

  <label for="developer">Desarrollador</label>
  <input type="text" name="developer" placeholder="Opcional">

  <br>

  <label for="publisher">Distribuidor</label>
  <input type="text" name="publisher" placeholder="Opcional">

  <br>

  <label for="price">Precio</label>
  <input type="number" name="price">

  <br>

  <label for="genre">Género</label>
  <input type="text" name="genre" placeholder="Opcional">

  <br>

  <label for="stock">Nº de unidades</label>
  <input type="number" name="stock">

  <br>

  <label for="productPic">Imagen del producto</label>
  <input type="file" name="productPic">

  <br>

  <button>Crear producto</button>
  
  </form>
</div>