<div class="create-product">
  <h3>Crear producto</h3>

  <form action="/profile/add-product/search">

  <label for="title">Buscar por título</label>
  <input type="text" name="title" id="input">

  
  <button class="search-api-button">Buscar productos</button>

  <p>Información recibida gracias a <a href="https://rawg.io/apidocs">RAWG</a></p>
  
  </form>
</div>