<div>   

    <h3>Detalles del pedido</h3>
    <img src="{{this.orderDetails.product.productPic}}" alt="game-img" width="150px">
    <h4>Título: {{this.orderDetails.product.title}}</h4>
    <h4>Vendedor: {{this.orderDetails.seller.username}}</h4>
    <h4>Precio: {{this.orderDetails.product.price}}</h4>




</div>