<div class="home">


  {{#if allVideogames}}

    {{#each allVideogames}}

      {{#if onSale}}

        <div class="product">

          <p>
            <a href="/product/{{this._id}}"><img src="{{this.productPic}}" alt="imagen-producto" width="300px">
            <p class="titulo-home">{{this.title}}</p>
            </a>
          </p>

        </div>

      {{else}}

      {{/if}}

    {{/each}}

  {{/if}}



</div>

 