<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
         
         <a href="/">Home</a>
         {{#if isSessionActive}}
         
         
         <span>|</span>
         <a href="/auth/logout">Cerrar Sesión</a>
         <span>|</span>
         <a href="/profile">Perfil</a>
         <span>|</span>
         <span>Bienvenido, {{this.foundUser.username}}</span>
         {{else}}
         <span>|</span>
         <a href="/auth/register">Registrarse</a>
         <span>|</span>
         <a href="/auth/login">Iniciar Sesión</a>
         {{/if}}

      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>