<div class="order">

  <div class="order-details">

  <h3>Detalles pedido</h3>

  <p><strong>Producto: </strong>{{videogameOrder.title}}</p>
  <img src="{{videogameOrder.productPic}}" alt="" width="150px">
  <p><strong>Precio total: </strong>{{videogameOrder.price}}€</p>

  </div>

  <div class="accordion" id="accordionPanelsStayOpenExample">

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Datos del comprador
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">

          <form action="" method="post">

          <label for="name"><strong>Nombre</strong></label>
          <input type="text" name="name">

          <br>

          <label for="surname"><strong>Apellidos</strong></label>
          <input type="text" name="surname" >

          <br>

          <label for="address"><strong>Dirección</strong></label>
          <input type="text" name="address">

          <br>

          <label for="zipcode"><strong>Código postal</strong></label>
          <input type="number" name="zipcode">
          
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Datos de la tarjeta
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">

          <label for="card"><strong>Nº de tarjeta</strong></label>
          <input type="number" name="card">
          <div id="emailHelp" class="form-text">La transacción es ficticia. Los datos introducidos no son reales.</div>

          <label for="holder"><strong>Titular de la tarjeta</strong></label>
          <input type="text" name="holder">

          <br>

          <label for="expirationDate"><strong>Fecha de expiración</strong></label>
          <input type="date" name="expirationDate">

          <br>

          <label for="securityNumber"><strong>CVV</strong></label>
          <input type="number" name="securityNumber">

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Finalizar compra
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <button>Aceptar</button>

          </form>
        </div>
      </div>
    </div>

  </div>

</div>