@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito&family=Nunito+Sans:opsz,wght@6..12,500&family=Open+Sans:ital,wght@0,500;1,400&family=Pacifico&family=Roboto:wght@100;400&display=swap");

body {
  padding: 50px 100px;
  font-family: "Open Sans";
  font-size: 14px;
  background-color: beige;
  background-image: url("../images/background2.png");
  background-origin: border-box;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.error {
  color: red;
  font-weight: bold;
}

.login-card {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #00b7ff;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.login-card h3 {
  margin-bottom: 20px;
  text-align: center;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card .mb-3,
.login-card button {
  display: inline-block;
  margin: 10px;
}

.register-card {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #00b7ff;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.register-card h3 {
  margin-bottom: 20px;
  text-align: center;
}

.register-card form {
  display: flex;
  flex-direction: column;
}

.register-card .mb-3,
.register-card button {
  display: inline-block;
  margin: 10px;
}

.nav {
  background-color: #00b7ff;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.logo {
  height: 30px; /* Ajusta el tamaño del logo según tus preferencias */
  width: 200px;
  margin-right: 10px;
  object-fit: cover;
}

.nav-text {
  color: white;
  font-style: italic;
  margin-left: -20px;
}

.search-form input {
  height: 30px;
  padding: 5px;
  font-size: 14px;
}

.search-form button {
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.platforms {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.platforms-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00b7ff;
}

.platforms-products {
  width: 20%;
  margin: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00b7ff;
  border-radius: 10px;
  padding-top: 10px;
}

.platforms h3 {
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.platform-titles {
  display: inline-block;
  color: white;
  background-color: #00b7ff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 2vw;
  border-radius: 10px;
}

.platforms-products img {
  max-width: 100%;
  height: auto;
}

.platforms-products a {
  color: white;
  text-decoration: none;
}

.platforms-products p {
  margin-top: 10px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00b7ff;
  margin-top: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00b7ff;
  border-radius: 10px;
  padding-top: 10px;
  margin: 10px;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product a {
  color: white;
  text-decoration: none;
}

.product p {
  margin-top: 10px;
}

.titulo-home {
  display: inline-block;
  background-color: #00b7ff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.5vw;
  border-radius: 10px;
}

.container-details {
  display: flex;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00b7ff;
  border-radius: 10px;
}

.image-details {
  padding: 10px;
}

.videogame-details h3 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.text-details {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.button-details {
  margin-top: 10px;
}

.button-details button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-details button:hover {
  background-color: #45a049;
}

.profile-container {
  display: flex;
  margin-top: 10px;
  max-width: 800px;
  border: 1px solid #00b7ff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-column {
  margin: 10px;
  padding: 10px;
}

.profile-column h3 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}

.profile-column h4 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.profile-column img {
  width: 75%;
  height: auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 48%;
  margin: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.product-link {
  text-decoration: none;
  color: white;
}

.product-title-box {
  margin-top: 10px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #00b7ff;
}

.product-item img {
  width: 40%;
  height: auto;
}

.create-button button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-button button:hover {
  background-color: #45a049;
}

.profile-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #45a049;
}

.edit-product {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #00b7ff;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.edit-product h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.edit-product form {
  display: flex;
  flex-direction: column;
}

.edit-product label {
  font-weight: bold;
  margin-bottom: 5px;
}

.update-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.create-product {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #00b7ff;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.create-product h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.create-product form {
  display: flex;
  flex-direction: column;
}

.create-product label {
  font-weight: bold;
  margin-bottom: 5px;
}

.create-product button {
  display: inline-block;
  margin: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.create-product button:hover {
  background-color: #45a049;
}

.admin-button {
  background-color: #00b7ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-button:hover {
  background-color: #05a1df;
}

.admin-container {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #00b7ff;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.admin h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.admin-list-item {
  list-style: none;
  margin-bottom: 5px;
}

.admin-link {
  text-decoration: none;
  color: #007bff;
}

.admin-link:hover {
  text-decoration: underline;
}
.user-details-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  flex-direction: row;
}

.user-details-column img {
  max-width: 500px;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid #00b7ff;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.text-container {
  border: 1px solid #00b7ff;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 500px;
  margin-right: 20px;
}

.product-container {
  border: 1px solid #00b7ff;
  padding: 10px;
  margin-bottom: 15px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
}

.product-container img {
  max-width: 25%;
  height: auto;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.user-details-container h2 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.user-details-container h4 {
  margin-bottom: 30px;
  font-weight: bold;
}

.user-details-container button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #45a049;
}

.order {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.order-details {
  text-align: center;
  border: 1px solid #00b7ff;
  padding: 10px;
  margin-bottom: 15px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
}

.order-details h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.order-details p {
  font-size: 15px;
}

.accordion {
  width: 100%;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #00b7ff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.accordion-body {
  padding: 15px;
  border: 1px solid #00b7ff;
}

.accordion-body button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.accordion-body button:hover {
  background-color: #45a049;
}

.my-sales h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.my-orders h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.order-game {
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00b7ff;
  border-radius: 10px;
}

.order-game a {
  text-decoration: none;
  color: #007bff;
  display: block;
}

.order-game img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.order-details-container {
  display: flex;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00b7ff;
  border-radius: 10px;
  max-width: 700px;
}

.order-details-container img {
  padding: 10px;
}

.order-details-container h3 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.order-details-container .text-details {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.search-result h3 {
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.search-products {
  width: 20%;
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00b7ff;
  border-radius: 10px;
  padding-top: 10px;
}

.search-products img {
  max-width: 100%;
  height: auto;
}

.search-title {
  display: inline-block;
  color: white;
  background-color: #00b7ff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 2vw;
  border-radius: 10px;
  margin-top: 10px;
}

.search-products a {
  color: white;
  text-decoration: none;
}

.search-products p {
  margin-top: 10px;
}
