@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito&family=Nunito+Sans:opsz,wght@6..12,500&family=Open+Sans:ital,wght@0,500;1,400&family=Pacifico&family=Roboto:wght@100;400&display=swap");

body {
  padding: 50px;
  font-family: "Open Sans";
  font-size: 14px;
  background-image: url("../images/background2.png");
  background-size: cover;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.error {
  color: red;
  font-weight: bold;
}

.login-card {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.login-card h3 {
  margin-bottom: 20px;
  text-align: center;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card .mb-3,
.login-card button {
  display: inline-block;
  margin: 10px;
}

.register-card {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.register-card h3 {
  margin-bottom: 20px;
  text-align: center;
}

.register-card form {
  display: flex;
  flex-direction: column;
}

.register-card .mb-3,
.register-card button {
  display: inline-block;
  margin: 10px;
}

.nav {
  background-color: #00b7ff;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  justify-content: center;
}

.nav-link {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.product {
  width: calc(20% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  border-radius: 10px;
  padding-top: 10px;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product a {
  color: white;
  text-decoration: none;
}

.product p {
  margin-top: 10px;
}

.titulo-home {
  display: inline-block;
  background-color: #00b7ff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 2vw;
  border-radius: 10px;
}

.container-details {
  display: flex;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  border-radius: 10px;
}

.image-details {
  padding: 10px;
}

.videogame-details h3 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.text-details {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.button-details {
  margin-top: 10px;
}

.button-details button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-container {
  display: flex;
  margin-top: 10px;
  max-width: 800px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-column {
  margin: 10px;
  padding: 10px;
}

.profile-column h3 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}

.profile-column h4 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.profile-column img {
  width: 75%;
  height: auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 48%;
  margin: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.product-link {
  text-decoration: none;
  color: white;
}

.product-title-box {
  margin-top: 10px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #00b7ff;
}

.product-title {
  flex: 1;
  margin: 0;
  display: block;
}

.product-item img {
  width: 40%;
  height: auto;
}

.create-button button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-product {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.edit-product h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.edit-product form {
  display: flex;
  flex-direction: column;
}

.edit-product label {
  font-weight: bold;
  margin-bottom: 5px;
}

.update-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.create-product {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.create-product h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.create-product form {
  display: flex;
  flex-direction: column;
}

.create-product label {
  font-weight: bold;
  margin-bottom: 5px;
}

.create-product button {
  display: inline-block;
  margin: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
