<div class="search-result">

    <h3>Resultados de la búsqueda</h3>

    {{#if this.videogamesFound}}

        {{#each this.videogamesFound}}

            {{#if onSale}}


            <div class="search-products">

                <a href="/product/{{this._id}}">
                <img src="{{this.productPic}}" alt="game-img">
                <p class="search-title">{{this.title}}<p>
                </a>

            </div>
            
            {{/if}}

        {{/each}}

            
    {{else}}

        <h3>No se encontraron resultados con ese título.</h3>

    {{/if}}


</div>