<div>
  <h3>Productos de Xbox Series X</h3>

  {{#if platformGames}}

    {{#each platformGames}}

      {{#if onSale}}

        <img src="{{this.productPic}}" alt="">

      {{else}}

      {{/if}}

    {{/each}}

  {{/if}}

</div>